body {
background: #d44747;
background: linear-gradient(90deg, rgb(209, 69, 69) 0%, rgba(235, 59, 59, 1) 50%, rgba(255, 5, 13, 1) 100%); 
height: 300vh;
}
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color:rgb(0, 0, 0);
}
.unifrakturmaguntia-regular2 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color:rgb(255, 255, 255);
  display: inline-block;
  box-sizing: border-box;
}
a {
    text-decoration:none;
  position: relative;
  overflow: hidden;
  background-color:black;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}

a::before,
a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: #ffffff;
  transition: all 0.5s;
}

a::before {
  top: 0;
  left: 0;
}

a::after {
  bottom: 0;
  right: 0;
}

a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}
.center1 {
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 82px;
  color:rgb(255, 255, 255);
}
.center2 {
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color:rgb(255, 255, 255);
}
.center {
  position: relative;
  top: -20px;
  left: 750px;
}
.picture1 {
  border-style:double;
  border-color:#000000;
  position:relative;
  top: -55px;
  right: -40px;
}
.text1 {
  position:relative;
  top:-500px;
  right:-275px;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color:rgb(0, 0, 0);
}